* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* h2 {
  position: relative;
} */

h2::before {
  content: "\00a0SALE\00a0";
  background-color: Red;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 5px;
  position: absolute;
  top: -16px;
  left: -34px;
}

/* Product */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  gap: 40px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

/* Product Info */
.price {
  font-size: 24px;
  /* float: left; */
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  /* margin-bottom: 20px; */
  /* float: right; */
  /* margin-top: 8px;s */
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Color Options */

.colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 20px;
  width: 20px;
  /* display: inline-block;
  margin-top: 20px;
  margin-right: 10px; */
  cursor: pointer;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: green;
}

.color-orange {
  background-color: orange;
}

.color-blue {
  background-color: blue;
}

.color-purple {
  background-color: purple;
}

/* details */
.details-title {
  text-transform: uppercase;
  font: 16px;
  margin-bottom: 12px;
  /* margin-top: 22px; */
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

/* .product-img {
  width: 250px;
  float: left;
  margin-right: 40px;
} */

.product-info {
  /* background-color: purple; */
  flex: 1;
  margin-top: 20px;
  /* width: 243px; */
  /* float: left; */
  /* margin-right: 40px;
  margin-top: 20px; */
}

.product-description {
  /* clear: both; */
  margin-bottom: 10px;
}

.details {
  /* background-color: yellow; */
  /* width: 243px; */
  /* float: left; */
  margin-top: 20px;
  flex: 1;
}

/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
